<!--Pagina principal de busqueda de libro en nuestra BD-->
{% extends "layout.html" %}
{% block Title %} Busqueda de libros en la base de datos Book-AltStore <i class="fas fa-book"></i>{% endblock %}
{% block body %}
<div>
	<form action="{{ url_for('search') }}" method="get" class="text-centered">
		<div class="centered col-sm-4 text-dark">
			<input class="form-control form-control-lg" type="text" placeholder="ISBN, autor o Titulo" name="consulta" required>
			<small id="passwordHelpBlock" class="form-text text-muted">
				ej: 1421808307
			</small>
		</div>
		<button class="btn btn-primary margin-3" type="submit">Consultar libro <i class="fas fa-search"></i></button>
	</form>
</div>
{% endblock %}
<!--/Pagina principal de busqueda de libro en nuestra BD-->