<!doctype html>
<html lang="es-ES">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Books-AltStore</title>

	<link rel="shortcut icon" href="{{ url_for('static',filename='styles/favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static',filename='styles/favicon.ico') }}" type="image/x-icon">

	<meta name="description"
		content="pagina para consultar libros y puntuarlos" />


	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

	<meta name="keywords"
		content="libros,ranking de libros,books,rating books,isbn" />

	<meta name="author" content="Ricardo Antonio Montenegro Noguera(Tonny)" />
	<meta name="copyright" content="Books-AltStore" />

	<meta name="robots" content="index" />

	<link href="{{ url_for('static',filename='styles/layoutStyle.css') }}" rel="stylesheet" type="text/css">
	<script src="https://kit.fontawesome.com/c5b3d30ade.js" crossorigin="anonymous"></script>
</head>

<body>


	<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light shadow mb-4 sticky-top">
		<a class="navbar-brand" href="/">Books-AltStore</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
			    {% if session["Auth"] %}
				<li class="nav-item active">
					<a class="nav-link" href="/">Buscar</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/logout">Cerrar sesion</a>
				</li>
				{% else %}
				<li class="nav-item active">
					<a class="nav-link" href="/login">Iniciar sesion</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/register">Registrarse</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</nav>


    <div class="jumbotron jumbotron-fluid bg-dark text-light justified rounded">

        <h1 class="display-4 text-centered">{% block Title %}{% endblock %}</h1>

        {% with messages = get_flashed_messages() %}
			  {% if messages %}
			  <div class="centered,text-centered">
			    {% for message in messages %}
			      	<div class="alert alert-primary col-sm-3 centered" role="alert">
				        <i class="fas fa-info-circle"></i>
				        {{ message }}
				        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				    </div>
			    {% endfor %}
			    </div>
			  {% endif %}
			{% endwith %}

        <hr class="my-4">
        {% block body %}

        {% endblock %}
    </div>


	</footer>

	<footer class="bg-dark text-center text-white">
  		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    		© 2021 Books-AltStore
  </div>
  <!-- Copyright -->
</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>


</body>

</html>